# .gitignore

# Archivos Python compilados/compilados en bytes
__pycache__/
*.py[cod]

# Base de datos SQLite generada localmente
db.sqlite3
*.sqlite3
db_local.sqlite3

# Entorno virtual
venv/

# Archivos relacionados con configuraciones locales
local_settings.py

# Variables de entorno
.env
.env.*
!.env.example

# Archivos de logs
*.log

# Carpeta de archivos de medios
media/

# Evitar subir archivos de nodos
node_modules/

# Archivos de configuración de IDEs
.vscode/
.idea/
