<!-- accounts/templates/accounts/login.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Iniciar Sesión - Sostenibilidad Blog{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h2>Iniciar Sesión</h2>
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}
        <div class="invalid-feedback">
          Por favor ingrese su nombre de usuario.
        </div>
      </div>
      <div class="mb-3">
        {{ form.password.label_tag }}
        {{ form.password }}
        <div class="invalid-feedback">
          Por favor ingrese su contraseña.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
    <div class="mt-4">
      <p>¿No tienes una cuenta? <a href="{% url 'accounts:register' %}">Regístrate aquí</a>.</p>
    </div>
  </div>
</section>
{% endblock %}
