{% load static %}
<nav class="navbar">
    <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'about' %}">Acerca de mí</a></li>
        <li><a href="{% url 'pages:page_list' %}">Páginas</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:profile' %}">Perfil</a></li>
            <li><a href="{% url 'messaging:inbox' %}">Mensajes</a></li>
            <li><a href="{% url 'accounts:logout' %}">Cerrar Sesión</a></li>
        {% else %}
            <li><a href="{% url 'accounts:login' %}">Iniciar Sesión</a></li>
            <li><a href="{% url 'accounts:register' %}">Registrarse</a></li>
        {% endif %}
    </ul>
</nav>
